@media (max-width: 380px) {
    .container {
        background-size: 500%;
        overflow-x: hidden;
    }
    nav .navInner .menuBgArea {
        height: 40px;
        width: 40px;
        top: 30%;
        left: 84%;
    }
    nav .navInner .menuTouchArea {
        background: rgba(255, 255, 0, 0);
        height: 45px;
        width: 45px;
        top: 26%;
        left: 83.5%;
    }
    nav .navInner .line {
        height: 3px;
        width: 30px;
    }
    nav .navInner .line1 {
        top: 40%;
        left: 85%;
        transform: rotate(0deg);
    }
    nav .navInner .line2 {
        top: 50%;
        left: 85%;
        opacity: 1;
    }
    nav .navInner .line3 {
        top: 60%;
        left: 85%;
        transform: rotate(0deg);
    }
    nav .navInner .menu .menuInner .about div {
        top: 50%;
        left: 30%;
    }
    nav .navInner .menu .menuInner .works div {
        top: 50%;
        left: 50%;
    }
    nav .navInner .menu .menuInner .contact div {
        top: 50%;
        left: 70%;
    }

    .hero .homePage .homePageInner .initial {
        font-size: 17rem;
        -webkit-text-stroke-width: 1px;
    }

    .aboutSection .info h1 {
        font-size: 2rem;
    }
    .aboutSection .info h2 {
        font-size: 2.2rem;
        font-weight: 300;
        width: 100%;
    }
    .aboutSection .info h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .aboutSection .square1 {
        width: 50px;
        animation: moveRightMobile 3s ease-in-out infinite;
    }
    @keyframes moveRightMobile {
        0% {
            left: 0%;
        }
        50% {
            left: 87.8%;
        }
        100% {
            left: 0%;
        }
    }
    .aboutSection .square2  {
        width: 50px;
        animation: moveLeftMobile 3s ease-in-out infinite;
    }
    @keyframes moveLeftMobile {
        0% {
            left: 87.8%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: 87.8%;
        }
    }

    .skillsSection {
        height: 100vh;
        width: 100vw;
    }
    .skillsSectionInner {
        flex-direction: column;
    }
    .skill {
        height: 200px;
        width: 100%;
        flex-direction: row;
    }
    .skill h1 {
        height: 100%;
        width: 50%;
        font-size: 1.7rem;
        padding: 1rem;
    }
    .skill .skillTopics {
        height: 100%;
        width: 50%;
        padding-top: 6rem;
    }
    .skill .skillTopics h2 {
        font-size: 0.8rem;
        padding-bottom: 1rem;
    }
    .banner {
        height: 10vh;
        width: 100vw;
    }
    .banner h1 {
        font-size: 2rem;
        width: 35%;
    }
    .banner h2 {
        width: 65%;
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding: 0.5rem;
        text-align: center;
    }
    .banner h2 a {
        display: none;
    }
}