@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: goldenrod;
}

ul {
    list-style: none;
}

@media (min-width:480px) {

    .mobile-mockup {
        display: none;
    }

    header {
        height: 60vh;
        width: 100vw;
        background-image: url(images/img3.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    .loading-page {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: url(images/img.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
        opacity: 1;
        animation: disappear 5s forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-in-out 10s;
    }

    .loading-page__inner {
        height: 80%;
        width: 70%;
        position: relative;
    }

    .loading-page a {
        font-size: 1.2rem;
        color: white;
        letter-spacing: 3px;
        text-transform: uppercase;
        border-radius: 50px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        padding: 1rem 2rem ;
        width: 500px;
        text-align: center;
        background-color: rgb(56, 56, 56);
    }

    .loading-page a:hover {
        color: goldenrod;
    }

    .loading-bar-holder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 20px;
        width: 100%;
    }

    .loading-bar {
        height: 100%;
        width: 100%;
        background-color: rgb(56, 56, 56);
        position: relative;
        opacity: 0;
    }

    .loading-progress {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 0%;
        background-color: goldenrod;
        transition: all 10s ease-in-out;
    }



    nav {
        height: 8vh;
        width: 100vw;
        background-color: transparent;
        position: relative;
    }

    nav img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        position: absolute;
        top: 40%;
        right: 2%;
        cursor: pointer;
    }

    .black-icon {
        z-index: 99;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .white-icon {
        z-index: 98;
        opacity: 0;
    }

    nav .menu-box {
        height: 60vh;
        width: 100vw;
        background-color: black;
        position: absolute;
        top: 0%;
        left: -100%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }

    nav .menu-box ul {
        height: 300px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    nav .menu-box ul li {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .menu-box ul li a {
        font-size: 7rem;
        font-weight: 800;
        letter-spacing: 7px;
        color: white;
    }

    nav .menu-box ul li a:hover {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
    }

    .hero {
        height: 52vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hero h1 {
        font-size: 13rem;
        /* font-family: 'Fredoka One', cursive; */
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
        /* -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.5px; */
        cursor: default;
    }

    .line1 {
        height: 5px;
        width: 160px;
        background: black;
        position: absolute;
        top: 50%;
        left: 25.3%;
    }
    .line2 {
        height: 5px;
        width: 305px;
        background: black;
        position: absolute;
        top: 26.5%;
        left: 41.5%;
    }
    .line3 {
        height: 5px;
        width: 175px;
        background: black;
        position: absolute;
        top: 50%;
        left: 65.5%;
    }


    .b-about {
        height: 50vh;
        width: 100vw;
        position: relative;
        background-color: white;
    }

    .b-about .heading {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .b-about .text .sub-headings {
        height: 180px;
        width: 1300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
    }

    .b-about .text .sub-headings div {
        width: 15%;
        height: 100%;
        transition: all 0.5s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor: default;
        position: relative;
    }

    .b-about .text .sub-headings div h1 {
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
    }

    .b-about .text .sub-headings .f-skill {
        background-color: #fe6c00;
    }
    .b-about .text .sub-headings .s-skill {
        background-color: #006e9b;
    }
    .b-about .text .sub-headings .t-skill {
        background-color: #dfd8bc;
    }
    .b-about .text .sub-headings .fo-skill {
        background-color: goldenrod;
    }

    .b-about .images .img__html {
        height: 100px;
        position: absolute;
        left: 16%;
        top: 45%;
        left: 19%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__css {
        height: 100px;
        position: absolute;
        top: 50%;
        left: 23%;
        transform: rotate(20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__js {
        height: 100px;
        position: absolute;
        top: 57%;
        left: 19%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__php {
        height: 100px;
        position: absolute;
        top: 50%;
        left: 23%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__animate {
        height: 80px;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: rotate(20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__blender {
        height: 100px;
        position: absolute;
        top: 50%;
        left: 58%;
        transform: rotate(20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__illustrator {
        height: 80px;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: rotate(20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__photoshop {
        height: 80px;
        position: absolute;
        top: 50%;
        left: 72%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__indesign {
        height: 80px;
        position: absolute;
        top: 58%;
        left: 72%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .b-about .images .img__xd {
        height: 80px;
        position: absolute;
        top: 58%;
        left: 75%;
        transform: rotate(-20deg);
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .expertise {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .expertise .heading {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .expertise__skillbox {
        height: 85vh;
        width: 100vw;
        position: absolute;
        bottom: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .expertise__skillbox .skillbox__inner {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .expertise-svg {
        height: 300px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
    }




    .html-skillbox {
        height: 150px;
        width: 400px;
        background-color: #fe6c00;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .css-skillbox {
        height: 150px;
        width: 400px;
        background-color: #fe6c00;
        position: absolute;
        top: 28%;
        left: 5%;
    }
    .js-skillbox {
        height: 150px;
        width: 400px;
        background-color: #fe6c00;
        position: absolute;
        top: 50%;
        left: 5%;
    }
    .php-skillbox {
        height: 150px;
        width: 400px;
        background-color: #fe6c00;
        position: absolute;
        top: 72%;
        left: 5%;
    }
    .fla-skillbox {
        height: 150px;
        width: 400px;
        background-color: #006e9b;
        position: absolute;
        top: 5%;
        left: 28%;
    }
    .blend-skillbox {
        height: 150px;
        width: 400px;
        background-color: #dfd8bc;
        position: absolute;
        top: 5%;
        right: 28%;
    }
    .psd-skillbox {
        height: 150px;
        width: 400px;
        background-color: goldenrod;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .ai-skillbox {
        height: 150px;
        width: 400px;
        background-color: goldenrod;
        position: absolute;
        top: 28%;
        right: 5%;
        
    }
    .id-skillbox {
        height: 150px;
        width: 400px;
        background-color: goldenrod;
        position: absolute;
        top: 50%;
        right: 5%;
    }
    .xd-skillbox {
        height: 150px;
        width: 400px;
        background-color: goldenrod;
        position: absolute;
        top: 72%;
        right: 5%;
    }

    .skillbox__inner .inners {
        height: 100%;
        width: 100%;
        position: relative;
        transition: all 0.4s ease-in-out;
    }

    .skillbox__inner .inners:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .skillbox__inner .inners:hover .covers {
        opacity: 0;
    }

    .skillbox__inner .inners {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skillbox__inner .covers {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s ease-in-out;
        z-index: 99;
    }

    .skillbox__inner .html-cover {
        background-color: #fe6c00;
    }
    .skillbox__inner .css-cover {
        background-color: #fe6c00;
    }
    .skillbox__inner .js-cover {
        background-color: #fe6c00;
    }
    .skillbox__inner .php-cover {
        background-color: #fe6c00;
    }
    .skillbox__inner .fla-cover {
        background-color: #006e9b;
    }
    .skillbox__inner .blend-cover {
        background-color: #dfd8bc;
    }
    .skillbox__inner .psd-cover {
        background-color: goldenrod;
    }
    .skillbox__inner .ai-cover {
        background-color: goldenrod;
    }
    .skillbox__inner .id-cover {
        background-color: goldenrod;
    }
    .skillbox__inner .xd-cover {
        background-color: goldenrod;
    }

    .skillbox__inner .covers h1 {
        font-size: 1.2rem;
        color: white;
        letter-spacing: 3px;
        cursor: default;
    }

    .progress-bar {
        height: 20px;
        width: 90%;
        background-color: white;
        margin: 5rem;
        position: relative;
    }

    .progress {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 0%;
        background-color: rgb(54, 54, 54);
        transition: all 1s ease-in-out;
    }

    .skillbox__inner .inners:hover .prog1 {
        width: 95%;
    }
    .skillbox__inner .inners:hover .prog2 {
        width: 75%;
    }
    .skillbox__inner .inners:hover .prog3 {
        width: 60%;
    }
    .skillbox__inner .inners:hover .prog4 {
        width: 30%;
    }
    .skillbox__inner .inners:hover .prog5 {
        width: 70%;
    }
    .skillbox__inner .inners:hover .prog6 {
        width: 80%;
    }
    .skillbox__inner .inners:hover .prog7 {
        width: 70%;
    }
    .skillbox__inner .inners:hover .prog8 {
        width: 85%;
    }
    .skillbox__inner .inners:hover .prog9 {
        width: 95%;
    }
    .skillbox__inner .inners:hover .prog10 {
        width: 70%;
    }


    .vectorart {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .vectorart .heading {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .vectorart .image__container .images {
        height: 300px;
        width: 200px;
    }

    .vectorart .image__container img {
        height: 300px;
        width: 200px;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
    }

    .vectorart .image__container .image1 {
        position: absolute;
        left: 5%;
        top: 20%;
    }
    .vectorart .image__container .image2 {
        position: absolute;
        left: 17%;
        top: 20%;
    }
    .vectorart .image__container .image3 {
        position: absolute;
        left: 29%;
        top: 20%;
    }
    .vectorart .image__container .image4 {
        position: absolute;
        left: 41%;
        top: 20%;
    }
    .vectorart .image__container .image5 {
        position: absolute;
        left: 5%;
        top: 55%;
    }
    .vectorart .image__container .image6 {
        position: absolute;
        left: 17%;
        top: 55%;
    }
    .vectorart .image__container .image7 {
        position: absolute;
        left: 29%;
        top: 55%;
    }
    .vectorart .image__container .image8 {
        position: absolute;
        left: 41%;
        top: 55%;
    }

    .image1:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image2:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image3:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image4:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image5:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image6:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image7:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .image8:hover img {
        transform: perspective(900px) rotateX(10deg) rotateY(-30deg) rotateZ(5deg) translateX(40px) translateY(0px) translateZ(80px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .first-works-svg {
        height: 300px;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%,-50%);
    }

    .first-works-svg-text {
        position: absolute;
        top: 70%;
        left: 75%;
        transform: translate(-50%,-50%);
        letter-spacing: 3px;
    }


    .webdev {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .second-works-svg {
        height: 300px;
        position: absolute;
        top: 50%;
        right: 55%;
        transform: translate(-50%,-50%);
    }

    .second-works-svg-text {
        position: absolute;
        top: 75%;
        right: 63%;
        transform: translate(-50%,-50%);
        letter-spacing: 3px;
        text-align: center;
    }

    .webdev iframe {
        height: 812px;
        width: 375px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .uro {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
    }
    .harmony {
        position: absolute;
        top: 50%;
        left: 87%;
        transform: translate(-50%,-50%);
    }


    .contact {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .contact .heading {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .contact__form {
        height: 600px;
        width: 1200px;
        background-color: rgb(201, 201, 201);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    form {
        width: 40%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5rem;
    }

    .form__image {
        width: 40%;
        height: 100%;
    }

    .form__image iframe {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: none;
    }

    input[type="text"] {
        height: 30px;
        width: 70%;
        border: none;
        outline: none;
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 1rem;
        background-color: transparent;
        border-bottom: 2px solid white;
    }
    input[type="radio"] {
        height: 20px;
        width: 20px;
    }
    textarea {
        resize: none;
        height: 100px;
        width: 70%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        border: none;
        outline: none;
        padding: 1rem;
        background-color: transparent;
        border-bottom: 2px solid white;
    }

    ::placeholder {
        font-style: italic;
    }

    .radio {
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }

    .radio h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .submit {
        width: 200px;
        border: none;
        padding: 0.8rem 3rem;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 5px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 75%;
        left: 3%;
    }
    .submit:hover {
        background-color: green;
        color: white;
    }
    .reset {
        width: 200px;
        border: none;
        padding: 0.8rem 3rem;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 5px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 75%;
        right: 63%;
    }
    .reset:hover {
        background-color: #006e9b;
        color: white;
    } 

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 20%;
        margin-top: 12rem;
    }

    .details .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details img {
        height: 40px;
    }

    .details h2 {
        font-size: 1.2rem;
        width: 150px;
        font-weight: 500;
        text-align: center;
    }

    footer {
        height: 30vh;
        width: 100vw;
        background-color: black;
        position: relative;
    }

    footer h1 {
        font-size: 5rem;
        color: white;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    footer .sitemap {
        height: 10%;
        width: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    footer .sitemap ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .sitemap ul li a {
        font-size: 1.2rem;
        color: white;
        border-bottom: 1px solid whitesmoke;
    }

    footer .sitemap ul li a:hover {
        font-weight: 700;
    }

    footer p {
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}